body {
  overflow-x: hidden;
}
.header {
  background-color: #4f8cd1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2196f3;
  height: 60px;
  position: relative;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px;
}

.header h1 {
  color: white;
}

.logout-section {
  display: flex;
  align-items: center;
}

.logout-section button {
  color: white;
  background: transparent;
  border: none;
  margin-right: 30px;
  font-size: 15px;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.Details {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed; /* Fixed positioning */
  top: 0; /* Start from the top */
  left: 0; /* Start from the left */
}

.Box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  word-wrap: break-word;
  position: absolute;
  width: 300px;
  height: auto;
  background: white;
  right: 30px;
  top: 60px;
}

.chartsss {
  z-index: 50000000;
}
